.movie-list-d {
  display: flex;
  flex-flow: row wrap;
  padding: 0 3%;
}

.movie-card-d {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 530px;
  margin: 5px;
  overflow: hidden;
  width: 400px;
}

.movie-card-image-d {
  width: 100%;
}

.movie-card-body-d {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title-d {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle-d {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline-d {
  font-size: 14px;
  text-align: justify;
}

.rating-d {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
}

.movie-card-rating-d {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 1px 20px;
}

.movie-card-link-d {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-around;
  padding: 12px 20px;
}

.linkClass-d {
  color: #f10;
  text-decoration: none;
}
